body {
  text-align: center;
}

.search-container {
  margin-bottom: 20px;
}

#character-list {
  list-style-type: none;
  padding: 0;
  overflow-y: scroll;
  max-height: 200px;
}

#character-list li {
  cursor: pointer;
}

#character-details {
  margin-top: 20px;
  display: none;
  text-align: left;

}
#character-details h2 {
    margin-bottom: 10px;
  }
  
#character-details p {
    margin: 5px 0;
  }
  
#character-details img {
    max-width: 200px;
    margin-top: 10px;
  }