
:root {
    --DeepBurgundy: #740001 ; /* Set the color variable */
    --Gray:#7F7F7F ;
    --GoldenYellow:#FFD700 ;
    --ForestGreen :#228B22 ;
    --Graylight:#F6F6F6 ;
    --darkgray: #333333; 

  }



body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(Background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    background-attachment: fixed;
}

.navbar {
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  padding: 10px;
  text-align: center;

  }
  .navbar-title {
    margin: 0;
  }
  
  .content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
.search-container {
    display: flex;
    align-items: center;
}

#search-input {
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    font-size: 20px;
    outline: none;
    border-bottom: 2px solid gray;
    box-sizing: border-box;
  }

  #search-input:focus {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }

#character-list {
  list-style-type: none;
  margin-top: 100px;
  padding: 0;
  overflow-y: scroll;
  max-height: 500px;

}

#character-list li {
    margin-top: 30px;
    font-size: 20px;
  cursor: pointer;
}
#character-details-container {
  max-height: 600px;
  overflow-y: auto;
  margin-top: 200px;
}

#character-details {
  text-align: center;
  padding: 10px;
}

#character-details-container::-webkit-scrollbar {
  width: 8px;
}

#character-details-container::-webkit-scrollbar-thumb {
  background-color: var(--GoldenYellow);
  border-radius: 20px;
}

#character-details-container::-webkit-scrollbar-track {
  background-color: var(--Graylight);
  border-radius: 20px;

}

#character-details h2 {
    text-align: center;
  }
  
#character-details p {
    margin: 5px 0;
    text-align: center;
  }
  
#character-details img {
    max-width: 200px;
    margin-top: 10px;
    display: block;
    margin: 0 auto;
    border-radius: 25px;
    box-shadow: 0px 2px 5px rgba(26, 23, 23, 50);

  }
